@model TransportationEntity.Nakliye

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h3>Nakliye Detail</h3>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2"> 
        @Html.DisplayNameFor(model => model.NakliyeYapildimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NakliyeYapildimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Aciklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriDegerlendirmeleri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusteriDegerlendirmeleri)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id ="@Model?.NakliyeId">Edit</a>
    <a asp-action="Index">Baack To List</a>
</div>