@model TransportationEntity.Nakliye;
@{
    ViewData["Title"] = "Detaylar";
}

<h2>@ViewData["Title"]</h2>

<h2> Detaylar</h2>
<div>
    <h4>Nakliye</h4>
    </hr>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NakliyeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.AracId)
        </dd>
        <dt class="col-sms-2">
            @Html.DisplayNameFor(model => model.Rezervasyon.NakliyeFirmasiAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model =>model.Rezervasyon.NakliyeFirmasiEmail)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NakliyeId">Duzenle</a> |
    <a asp-action="Index">Nakliye Listesine geri don</a>
</div>