@model Nakliye;
@{
    ViewData["Title"] = "Detaylar";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Nakliye Detaylari</h4>
    </hr>
    
    <dl class="row">
        
        <dt class="col-sm-2" style="color:blue">
            NakliyeId:
        </dt>
        <dd class="col-sm-10">
            @Model.NakliyeId
        </dd>
        <dt class="col-sm-2" style="color:blue">
            Nakliye Yapildimi?
        </dt>
        <dd class="col-sm-10">
            @Model.NakliyeYapildimi
        </dd>
        <dt class="col-sm-2" style="color:blue" >
            Arac Id:
        </dt>
        <dd class="col-sm-10">
            @Model.AracId
        </dd>
        <dt class="col-sm-2" style="color:blue" >
            Rezervasyon Id:
        </dt>
        <dd class="col-sm-10">
            @Model.RezervasyonId
        </dd>
        <dt class="col-sm-2" style="color:blue">
            Talep Tarihi:
        </dt>
        <dd class="col-sm-10">
            @Model.TalepTarihi
        </dd>
        
    </dl>
    
<div>
    <a asp-action="TalepGuncelle" asp-route-itemid="@Model?.NakliyeId">Edit</a>|
    <a asp-action="GetTumTalepler">Nakliye Listesine geri don</a>
</div>