@model Nakliye;
@{
    ViewData["Title"] = "Detaylar";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Nakliye Detaylari</h4>
    </hr>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.NakliyeId)</th>
                <th>@Html.DisplayNameFor(model => model.AracId)</th>
                <th>@Html.DisplayNameFor(model => model.Rezervasyon.NakliyeFirmasiAdi)</th>
                <th>@Html.DisplayNameFor(model =>model.Rezervasyon.NakliyeFirmasiEmail)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NakliyeId</td>
                    <td>@item.AracId</td>
                    <td>@item.Rezervasyon.NakliyeFirmasiAdi</td>
                    <td>@item.Rezervasyon.NakliyeFirmasiEmail</td>
                </tr>
            }

        </tbody>
   
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NakliyeId">Duzenle</a> |
    <a asp-action="Index">Nakliye Listesine geri don</a>
</div>