
@model IEnumerable<TransportationEntity.Nakliye>
@{
    ViewData["Title"] = "Tum Talepler";
}
<! doctype html>
<html lang="en">
<h2>@ViewData["Title"]</h2>

<p>
    <button type="button" class= "btn btn-primary"  onclick= "location.href='@Url.Action("Create", "Nakliye")'"   > Yeni Kayit Olustur</button>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NakliyeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NakliyeYapildimi)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.TalepTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Aciklama)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nakliye in Model)
        {
            <tr>
                <td>
                    @nakliye.NakliyeId
                </td>
                <td>
                    @nakliye.NakliyeYapildimi
                </td>
                <td>
                    @nakliye.TalepTarihi
                </td>
                <td>
                    @nakliye.Aciklama
                </td>
                
                <td>
                    <a asp-controller="Nakliye" asp-action="TalepGuncelle" asp-route-id="@nakliye.NakliyeId">Duzenle</a> |
                    <a asp-controller="Nakliye" asp-action="Details" asp-route-id="@nakliye.NakliyeId">Detay</a> |
                    <a asp-controller="Nakliye" asp-action="Delete" asp-route-id="@nakliye.NakliyeId">Sil</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

</html>